<html><center>
<h1> Welcome to ansible training </h1>
<h2> This system is running on {{ ansible_os_family }} OS </h2>
<h3> System host name is {{ ansible_hostname }} </h3>
<h4> Final testing </h4>
</center></html>
